.prodct_main {
    width: 80%;
}
.product_carousel {
    margin-left: -150px;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
    background: black ;
}
.carousel-control-prev i:hover, .carousel-control-next i:hover{
    color: white;
}

.carousel-control-prev, .carousel-control-next {
	height: 50px;
	width: 50px !important;
	background: none;
	margin: auto 0;
	background: lightgray;
    border-radius: 50px;
    color:red;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
    
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}