.mainn{
    display: flex;
    margin-top: 15px;
}
.main_bodyA {
    display: flex;    
    align-content: space-between;
    margin-left: 100px;
    
}

.main_bodyB {
    width: 100%;
}
.main_bodyB_a {
    display: flex;
    width: 100%;
    
}
.card_menu {
    font-size: 12px;
    text-align: left;
    margin-right: 15px;
    
    height: fit-content;
    
}
.card_menu_body {
    display: flex;
    flex-direction: column;
  
}
.body_carousel {
    width: 80%;
    min-width: 40%;
    height: 500px;
    margin-right: 15px;
}
.card_box {
    padding-top: 5px;
    width: 200px;
    height: fit-content;
    font-size: small;
}
.card_image {
    height: 100px;
    width: 100px;
}
.d-block {
    width: 100%;
    height: 335px;
    min-width: 40%;
}
.card_buttonSubmit {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 10px;
}
.card_buttonNext {
    margin-top: 10px;
}
.body_products {
    text-align: left;
    margin-top: -130px;
}
.products {
    margin-bottom: 100px
}
.dropdown_bodymenu {
    min-width: 20%;
    cursor: pointer;
    width: 200px;
}
.dropdown_bodymenuTitle {
    font-weight: 500;
    color: gray;
    width: 200px;
}