@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    height: fit-content;
}

.container {
    height: 100vh;
}

.product-card {
    position: relative;
    cursor: pointer;
    
}

.product-card .sale {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    color: red;
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    top: 10px;
    font-size: 14px
}

.product-card .price {
    border-radius: 5px;
    color: red;
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 6px;
    font-size: 15px
}

.buttons {
    position: absolute;
    left: 25%;
    bottom: 30px
}



.buttons button {
    margin: 0;
    margin-left: 7px;
    padding: 0 12px;
    font-weight: 300;
    background-color: #dc9814;
    border: none
}

.search {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    padding: 10px
}

.buttons button {
    height: 38px;
    margin-left: 10px;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px
}

.buttons button:hover {
    background-color: #404040
}

.product-card .buttons {
    opacity: 0;
    transition: all 0.5s
}

.product-card:hover .buttons {
    opacity: 1
}
.product_info {
    text-align: center;
    color: gray;
    margin-top: 5px;
}